[build-system]
requires = ["setuptools>=61.0.0", "setuptools_scm"]
build-backend = "setuptools.build_meta"

[project]
name = "dapr-agents"
dynamic = ["version"]
description = "Agentic Workflows Made Simple"
keywords = ["dapr", "agents", "workflows"]
readme = "README.md"
requires-python = ">=3.10"
license = {file = "LICENSE"}
authors = [
    {name = "Dapr Authors", email = "dapr@dapr.io"}
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
]

dependencies = [
    "durabletask-dapr >= 0.2.0a7",
    "pydantic == 2.11.3",
    "openai == 1.75.0",
    "openapi-pydantic == 0.5.1",
    "openapi-schema-pydantic==1.2.4",
    "regex >= 2023.12.25",
    "Jinja2 >= 3.1.6",
    "azure-identity == 1.21.0",
    "dapr >= 1.15.0",
    "dapr-ext-fastapi == 1.15.0",
    "dapr-ext-workflow == 1.15.0",
    "colorama == 0.4.6",
    "cloudevents == 1.11.0",
    "pyyaml == 6.0.2",
    "rich == 13.9.4",
    "huggingface_hub == 0.30.2",
    "numpy == 2.2.2",
    "mcp == 1.7.1",
    "opentelemetry-distro == 0.53b1",
    "opentelemetry-exporter-otlp == 1.32.1",
    "opentelemetry-instrumentation-requests == 0.53b1",
]

[project.urls]
Documentation = "https://github.com/dapr/docs"
Source = "https://github.com/dapr/python-sdk"

[tool.setuptools.packages.find]
include = ["dapr_agents"]
exclude = ["tests"]

[tool.setuptools.package-data]
dapr_agents = ["py.typed"]

[tool.setuptools_scm]
version_scheme = "guess-next-dev"
local_scheme = "no-local-version"