[build-system]
requires = ["setuptools>=40.8.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "floki-ai"
version = "0.10.2"
description = "Agentic Workflows Made Simple"
readme = "README.md"
authors = [{ name = "Roberto Rodriguez" }]
license = { text = "MIT License" }
requires-python = ">=3.10"
keywords = ["LLM", "Cybersecurity", "AI", "Agents"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX :: Linux",
    "Operating System :: OS Independent",
    "Operating System :: MacOS",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Microsoft :: Windows",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]

dependencies = [
    "pydantic==2.10.5",
    "openai==1.59.6",
    "openapi-pydantic==0.5.1",
    "regex>=2023.12.25",
    "Jinja2==3.1.5",
    "azure-identity==1.19.0",
    "dapr==1.14.0",
    "dapr-ext-fastapi==1.14.0",
    "dapr-ext-workflow==0.5.0",
    "colorama==0.4.6",
    "cloudevents==1.11.0",
    "pyyaml==6.0.2",
    "rich==13.9.4",
    "huggingface_hub==0.27.1",
    "numpy==2.2.2",
]

[project.urls]
homepage = "https://github.com/Cyb3rWard0g/floki"

[tool.poetry]
name = "floki"
version = "0.10.2"
description = "Agentic Workflows Made Simple"
authors = ["Roberto Rodriguez"]
license = "MIT"
repository = "https://github.com/Cyb3rWard0g/floki"
readme = "README.md"
packages = [{ include = "floki", from = "src" }]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    'Topic :: Security',
]

[tool.poetry.dependencies]
python = "^3.10"
pydantic = "2.10.5"
openai = "1.59.6"
openapi-pydantic = "0.5.1"
regex = "^2023.12.25"
Jinja2 = "3.1.5"
azure-identity = "1.19.0"
tornado = "^6.4.2"
starlette = "^0.40.0"
dapr-ext-workflow = "0.5.0"
dapr-ext-fastapi = "1.14.0"
dapr = "1.14.0"
colorama = "0.4.6"
cloudevents = "1.11.0"
pyyaml = "6.0.2"
rich = "13.9.4"
huggingface_hub = "0.27.1"
numpy = "2.2.2"

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.4"
