pydantic==2.10.5
openai==1.59.6
openapi-pydantic==0.5.1
openapi-schema-pydantic==1.2.4
regex>=2023.12.25
Jinja2>=3.1.6
azure-identity==1.19.0
dapr>=1.15.0
dapr-ext-fastapi==1.15.0
dapr-ext-workflow==1.15.0
colorama==0.4.6
cloudevents==1.11.0
pyyaml==6.0.2
rich==13.9.4
huggingface_hub==0.27.1
numpy==2.2.2
mcp==1.6.0