dapr-agents[observability]
arize-phoenix>=11.22.0,<12.0.0
arize-phoenix-otel>=0.12.0,<0.13.0
opentelemetry-instrumentation>=0.56b0
# For local development use local changes by commenting out the dapr-agents line above and uncommenting the line below:
# -e ../../[observability]
